* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}



.container-users {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

ul {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 50px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-bottom: 10px;
}

li h4 {
  font-size: 15px;
}

li p {
  font-size: 13px;
}

